*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}
body{
    background-color: aliceblue;
    display: grid;
    place-content: center;
    height: 100vh;
}

.card-container{
    background-color:white;
    border-radius: 0.5em;
    width: 40em;
    height: 10em;
    padding-top: 2rem;
    padding-left: 2rem;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card img{
    max-width: 100px;
    height: 100px;
    border-radius: 90%;
}

h1{
    padding-left: 1rem;
    font-size: x-small;
}
